PORT=5050
NODE_ENV=development

MONGO_URI=mongodb+srv://wasiq:4KGaKDXIhGp@users.v2yg7.mongodb.net/BITEBOT

ACCESS_TOKEN_SECRET=xMt[70?
ACCESS_TOKEN_EXPIRY=1h

REFRESH_TOKEN_SECRET=i67HQC
REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=deqii
CLOUDINARY_API_KEY=6943433542
CLOUDINARY_SECRET=wWY0jQ1UMd_wN2Bg1AjvtEo
CLOUDINARY_IMAGE_MODERATION=aws_rek

ALLOWED_ORIGINS=http://localhost:5173,https://bitebot25.vercel.app,https://bitebot.site

FRONTEND_URL=https://bitebot.site

OPENAI_API_MODEL=gpt-4.1-mini
OPENAI_API_KEY=sk-proj-5PqGdi0OrjVO6YR3AMTTYRUY4lgidngZuHsulBvMgRr6GWItrO4WituYakK5_D9_NMm-pT3BlX1UnLx-wnShhlEqiNj0fH6ja0NFwazaNhbW8MztUgmuGB3ejziIA

GMAIL_API_CLIENT_ID=7430532264-983vbba176nnb96tfi0.apps.googleusercontent.com
GMAIL_API_CLIENT_SECRET=GOCPX-2kWkd16hF3GyUa0VLi
GMAIL_API_REDIRECT_URI=https://developers.google.com/oauthplayground
GMAIL_API_REFRESH_TOKEN=1//04gbwcZIWu3CAQSNwF-L9IrQ555D3q6NZwaGRpzpaTWcPz9leAEv7YttDXL_gHUre_e_o9EnxASCaDHhfdY
AUTHORIZE_MAIL=bitebot25@gmail.com